@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 10%; /* Темный фон */
    --foreground: 0 0% 100%; /* Светлый текст */

    --muted: 210 20% 30%; /* Умеренный цвет */
    --muted-foreground: 210 20% 80%; /* Умеренный текст */

    --popover: 210 20% 10%; /* Темный поповер */
    --popover-foreground: 0 0% 100%; /* Светлый текст поповера */

    --card: 210 20% 15%; /* Темная карточка */
    --card-foreground: 0 0% 100%; /* Светлый текст карточки */

    --border: 210 20% 30%; /* Темная граница */
    --input: 210 20% 30%; /* Цвет ввода */

    --primary: 0 0% 100%; /* Светлый основной цвет */
    --primary-foreground: 210 20% 20%; /* Темный текст для основного цвета */

    --secondary: 210 20% 30%; /* Темный вторичный цвет */
    --secondary-foreground: 0 0% 100%; /* Светлый текст для вторичного цвета */

    --accent: 0 0% 60%; /* Акцентный цвет */
    --accent-foreground: 0 0% 100%; /* Светлый текст для акцентного цвета */

    --destructive: 0 100% 50%; /* Яркий цвет для разрушительных действий */
    --destructive-foreground: 0 0% 100%; /* Светлый текст для разрушительных действий */

    --ring: 210 100% 80%; /* Светлый цвет для фона выделения */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
    font-family: "Lato, sans-serif";
  }
}
